<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuhuan.mis.dao.AccountApplyDao">
    <resultMap id="BaseResultMap" type="com.xuhuan.mis.entity.AccountApply">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="year" property="year" jdbcType="VARCHAR"/>
        <result column="month" property="month" jdbcType="VARCHAR"/>
        <result column="day" property="day" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="save" parameterType="com.xuhuan.mis.entity.AccountApply" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mis_account_apply (year, month, day)
        VALUES (#{year}, #{month}, #{day})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM mis_account_apply
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.xuhuan.mis.entity.AccountApply">
        UPDATE mis_account_apply
        SET year = #{year}, month = #{month}, day = #{day}
        WHERE id = #{id}
    </update>

    <select id="selectById" parameterType="int" resultMap="BaseResultMap">
        SELECT *
        FROM mis_account_apply
        WHERE id = #{id}
    </select>

    <select id="selectTableQuery" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            t5.id,
            t5.year,
            t5.month,
            t5.day,
            concat(t5.year, '-', t5.month, '-', t5.day) accountDate,
            t4.outSumPrice,
            t4.inSumPrice
        FROM (SELECT
                  t3.applyId,
                  MAX(CASE t3.type WHEN '1' THEN sumPrice ELSE 0 END) outSumPrice,
                  MAX(CASE t3.type WHEN '2' THEN sumPrice ELSE 0 END) inSumPrice
              FROM (
                       SELECT
                           t2.type,
                           sum(t1.price) sumPrice,
                           t1.applyId
                       FROM mis_account_detail t1
                           LEFT JOIN mis_account_type t2 ON t1.typeId = t2.id
                       GROUP BY t2.type, t1.applyId
                   ) t3
              GROUP BY t3.applyId) t4
            LEFT JOIN mis_account_apply t5 ON t4.applyId = t5.id

    </select>

</mapper>